extends layout

block content
  h1= title
  .nft-card.nft-detail
    img.nft-image(src=nft.imageURL)
    .nft-info
      h2.nft-title Title: #{nft.title}
      p.nft-author Author: #{nft.author}
      p.nft-description Description: #{nft.description}
      p.nft-price Price: #{nft.price}
      p.nft-volume Volume: #{nft.volume}
  form(action=`/nft/${nft._id}/mint` method="post")
    label Wallet Address
    input(type="text" name="owner")
    button(type="submit") Mint NFT
